ion-content{
    --ion-background-color:#5fc8d5;
  }
  
ion-header{
    --ion-background-color:#5fc8d5;
}

.header{
    display: flex;
    justify-content: flex-end;
    padding-top: 3vw;
    padding-right: 3vw;
    background-color: #5fc8d5;
}
.initial {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin-top: -10vh;
}

.nameGame{
    width:80vw;
}

.iconGame{
    width:30vw;
}

.buttonPlay{
    margin-top: 10vw;
    width: 45vw;
}

.buttonInstructions{
    margin-top: 5vw;
    width: 55vw;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../../assets/bgSets.png");
    padding-top: 8vw;
    height: 100vh;
    max-height: 100vh;
    background-size: 100%;
}

.game{
    position: relative;
}

.game-content{
    position: relative;
    width: 100vw;
    height: 120vw;
    margin-top: 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.lists{
    font-size: 18pt;
    color:#ffffff;
    letter-spacing: 1pt;
    line-height: 1.1;
}

.circle {
    width: 60vw;
    height: 65vw;
    filter: invert(76%) sepia(65%) saturate(4808%) hue-rotate(202deg) brightness(86%) contrast(98%);
    position: absolute;
    z-index: 10;
    top: 2vw;
    left: 3vw;
}

#circle2 {
    filter: invert(47%) sepia(27%) saturate(3387%) hue-rotate(187deg) brightness(109%) contrast(99%);
    opacity: .7;
    left: 35vw;
}

.items {
    width: 12vw;
    height: 12vw;
    position: absolute;
    z-index: 11;
    top: 70vw;
}


#item{
    left: 6vw;
}

#item2{
    left: 24vw;
}

#item3{
    left: 42vw;
}

#item4{
    left: 60vw;
}

#finish{
    top: 90vw;
    position: absolute;
    width: 40vw;
}

.lost{
    width: 75vw;
    margin-top: -40vw;
}

.won {
    width: 75vw;
    margin-top: -40vw;
}
