<ion-content [fullscreen]="true">
  <div class="container">
    <div class="lists" *ngIf="isListsVisible">
      <p><span style="color:#6C7FD8;">Lilas</span>: Mouse, Processador, Disco Rigido</p>
      <p><span style="color:#3BAEED;">Azul</span>: Teclado, Mouse</p>
    </div>
  <div class="game">
      <div class="warnings" *ngIf="isWarningsVisible">
        <div *ngIf="isPlayVisible" class="initial">
          <img src="../../../assets/nameSetGame.png" class="nameGame">
          <img src="../../../assets/iconGameTwo.png" class="iconGame">
          <img src="../../../assets/playButtonTwo.png" class="buttonPlay" id="play" (click)="play()">
          <img src="../../../assets/instructionsButton.png" class="buttonInstructions" (click)="presentModal()">
 
          <!--<img src="./assets/playButtonTwo.png" id="play" (click)="play()"/>-->
        </div>
           <img src="{{srcLost}}" id="lost" class="lost" (click)="play()" *ngIf="isLostVisible"/>
          <img src="{{srcWin}}" id="won" class="won" (click)="won()" *ngIf="isWonVisible"/>
      </div>
      <div class="game-content" *ngIf="isGameVisible">
          <img src="./assets/circle.svg" id="circle" class="circle"/>
          <img src="./assets/circle.svg" id="circle2" class="circle"/>
          <img src="./assets/cpu.png" id="item" class="items" cdkDrag/>
          <img src="./assets/mouse.png" id="item2" class="items" cdkDrag/>
          <img src="./assets/keyboard.png" id="item3" class="items" cdkDrag/>
          <img src="./assets/hardDrive.png" id="item4" class="items" cdkDrag/>
          <img src="./assets/confirmButton.png" id="finish" (click)="finish()"/>
      </div>
  </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
</ion-footer>