ion-content{
    --ion-background-color:#5fc8d5;
  }
  
ion-header{
    --ion-background-color:#5fc8d5;
}
.header{
    display: flex;
    justify-content: flex-end;
    padding-top: 3vw;
    padding-right: 3vw;
    background-color: #5fc8d5;
}

.configIcon{
    width: 8vw;
    opacity: 0.7;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 8vw;
}

.title{
    font-size: 22pt;
    color: rgba(255,255,255, 0.8);
    letter-spacing: 1pt;
    margin-top: 15vh;
}

.contentSlide{
    display: flex;
    align-items: center;
    background-color: transparent;
    width:100vw;
    margin-top: 5vw;
}

.imgSlide{
    width:45vw;
    z-index:4;
}

.arrowSlides {
    width:10vw;
}

.rotate {
    transform: rotate(180deg);
}

.playButton{
    background-image: url('../../assets/playButtonTwo.png');
    background-size: 100% 100%;
    background-color: transparent;
    width:40vw;
    height: 18vw;
    margin-top: 5vh;
}
  
ion-footer{
    background-image: url('../../assets/footerClouds.png');
    background-size: 100% 100%;
    height: 20vw;
}