ion-content{
  --ion-background-color:#5fc8d5;
}
#container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#container .logo{
  width: 75vw;
  margin-top: -100vw;
  z-index: 3;
}

.cloudsOne{
  margin-top:15vw;
  z-index:1;
  animation: nuvens 8s infinite alternate;
}

.cloudsTwo{
  z-index: 1;
  margin-left: -40vw;
  margin-top: -30vw;
  animation: nuvens 8s infinite alternate;
}

.cloudsThree{
  z-index: 1;
  margin-right: -40vw;
  margin-top: -30vw;
  animation: nuvens 8s infinite alternate;
}

.playButton{
  background-image: url('../../assets/playButton.png');
  background-size: 100% 100%;
  background-color: transparent;
  width:66vw;
  height: 30vw;
  margin-top: 20vh;
}

@keyframes nuvens {
  0% {
      margin-left: -30px;
  }
  100%{
      margin-right: -30px;
  }
}

ion-footer{
  background-image: url('../../assets/footerClouds.png');
  background-size: 100% 100%;
  height: 20vw;
}